<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Table</title>
    <link type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}" rel="stylesheet"/>
	<link type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
 
<body>
    <div class=container>
        <div>
            <h2 class=text-center>Table</h2>
        </div>
 
        <div class=jumbotron>
        
            <h3>Links</h3>
            <div class="row btn-group">
            	<a href="/" class="col-md-3 col-sm-3 col-xs-3 button">Home</a>
		        <a href="/stockselect" class="col-md-3 col-sm-3 col-xs-3 button">Select Stock</a>
		         <a href="/table" class="col-md-3 col-sm-3 col-xs-3 button">Table</a>
		        <a href="/adminsec" class="col-md-3 col-sm-3 col-xs-3 button">Admin</a>
            </div>
            
            <div class=row>
            <br><br>
            <center>
            	{{ table }}
            </center></div>
            
        </div>
 
        <footer class="footer">
            <p></p>
        </footer>
    </div>
</body>
 
</html>
